*{
    margin: 8px;
    padding: 5px;
}
body{
    background-image: url(./LOGINIMG.avif);
    margin: 0;
    padding: 0;
}
form{
    width: 200px;
    margin: 150px;
    padding: 150px;
    background: rgb(155, 158, 158);
background: linear-gradient(0deg, rgb(160, 164, 165) 0%, rgb(65, 63, 64) 93%);
    text-align: center;  
    align-items: center;  
}
h1{
    color: white;
}
#form{
    margin: 1px 250px 50px 250px;
}